<div>
    <h4>All Products</h4>  
    <% if user_signed_in? %>
        <% if current_user&.has_role?("admin") %><%= link_to 'Add Product',new_product_path %><%end%>
    <%end%>
</div>

<div class="d-flex">
    <% for product in @products%>
        <div class="p-3 shadow m-3 productCard">
            <a class="noStyleLink my-4" href="/products/<%= product.id%>">
                <div class="d-flex justify-content-center">
                    <%= image_tag product.image, alt: 'product Image', class: 'imgthumbnail' if product.image.attached? %>
                </div>
                <h5 class="my-3"><%= product.name %></h5>
                <% if current_user&.has_role?("admin") %>
                    <%= link_to 'Delete', product_path(product),data: { turbo_method: :delete } %>
                <%end%>
            </a>
        </div>
    <% end %>
</div>
