<div style="width:50%">
    <h5>Order details for : #<%= @order.id %></h5>
    <% for item in @items %>
        <div class="my-4 d-flex justify-content-between align-items-center shadow-sm p-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="w-50"><%= item.product.name%></p>
                <%= image_tag item.product.image, alt: 'product Image', class: 'imgthumbnail_confirm_order' if item.product.image.attached? %>
            </div>
            <p>x <strong>(<%= item.quantity%>)</strong></p>
            <p>Rs<%= calculate_price(item.product.price,item.quantity)%>/- </p>
        </div>
    <%end%>
    <p><strong>Order Status : </strong><%= get_order_message(@order.status)%></p>
    <% if is_returnable?(@order.status) %>
     <h6>Do you want to cancel your order ? 
       <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal">
            Cancel Order
        </button>
    </h6>
     <%= render 'orders/cancel_order_modal'%>
    <%end%>
 </div>   
<h6 class="shadow position-fixed bottom-0 end-0 start-0 shadow-lg p-3 m-0 bg-white"> Total Order Value : Rs <%= calculate_total_order_value(@items) %>/- </h6>