<% if user_signed_in? %>
    <% if current_user&.has_role?("admin") %>
        <h3>Manage All Orders</h3>
    <% else %>
        <h3>My Orders</h3>
    <%end%>
<%end%>
<% if @orders == nil ||  @orders&.length == 0%>
    <p>You don't have any orders yet, <%= link_to 'Continue Shopping',home_path %></p>
<%else%>
    <div class="widthStyling">
        <% for order in @orders %>
            <div class="card my-4">
                <div class="card-header">
                    <p>Order Id : <%= order.id %></p>
                    <% if current_user&.has_role?("admin") %>
                        <%= link_to 'Delete', order_path(order), data: { turbo_method: :delete } %>
                    <% end %>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <div class="d-flex justify-content-flex-start flex-wrap">
                        <% for item in order.order_items %>
                            <%= image_tag item.product.image, alt: 'product Image', class: 'imgthumbnailOrders' if item.product.image.attached? %>
                        <% end %>
                    </div>
                    <div>
                        <p>Total Order Value : <strong>Rs <%= order.total %>/- </strong> </p>
                        <%=  link_to 'Order Details',order_path(order) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>    
<% end %>